@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* Estilos para el archivo ECOMMERCE.HTML */

/*Parametros Globales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding: 2rem;
}

body{
    background-color: rgba(142, 213, 235, 0.973);
    font-family: "Poppins", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.swiper-button-prev::after{
    font-size: 25px;
}

.swiper-button-next::after{
    font-size: 25px;
}

.swiper-button-next{
    color: red;
}

.swiper-button-prev{
    color: red;
}

.swiper-pagination-bullet{
    background-color: #d3d2d2;
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: red;
}

/* Header menu*/

.menu{
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.navbar{
    display: flex;
}


.menu-1{
    margin-right: 100px;
}

.menu-2{
    margin-left: 100px;
    display: flex;
    align-items: center;
}

.logo-1{
    width: 0;
}

.logo-2{
    width: 100px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#span-1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    
}
#span-2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
#span-3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
#span-4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.logo-2:hover{
    color: rgb(0, 89, 255);
}

.socials{
    display: flex;
}

.social{
    margin: 0 10px;
    padding-block: 8px;
    padding-right: 24px;
    height: 40px;
    width: 40px;
    border: 2px solid rgb(0, 26, 255);
    border-radius: 50%;
}

.social:hover{
    background-color: rgb(0, 89, 255);
}

.social img{
    margin: 1px 0 0 10px;
}

.menu .navbar ul li{
    position: relative;
    float: left;
  }
  .menu .navbar ul li a{
    font-size:18px;
    padding: 20px;
    color: white;
    display: block;
  }

.menu .navbar ul li a:hover{
    color: rgb(0, 89, 255);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

/* Slider*/

.header-content{
    margin-top: 200px;
    padding-top: 50px;
}

.slider{
    display: flex;
    justify-content: center;
    background-color: white;
}

.slider-txt{
    margin-left: 85px;
    width: 50%;
}

.slider-txt h1{
    font-size: 70px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
}

.slider-txt p{
    font-size: 18px;
    color: black;
}

.botones{
    margin-top: 50px;
}

.btn-1{
    display: inline-block;
    padding: 15px 15px;
    border: 3px solid rgb(0, 89, 255);
    color: white;
    background-color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-1:hover{
    background-color: rgb(0, 89, 255);
}
.btn-2{
    display: inline-block;
    margin-top: 40px;
    padding: 15px 15px;
    border: 3px solid rgb(0, 89, 255);
    color: white;
    background-color: black;
    font-weight: 800;
    text-transform: uppercase;
    margin-right: 20px;
    border-radius: 50px;
}

.btn-2:hover{
    background-color: rgb(0, 89, 255);
}

.slider-img{
    width: 50%;
}

.slider-img img{
    margin-right: 225px;
    width: 550px;
}

/* Carrito de compras*/

.shop-container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

section{
    padding: 4rem 0 3rem;
}

#cart-icon{
    font-size: 1.8rem;
    cursor: pointer;
}

.cart{
    position: fixed;
    top: 0;
    right: 0;
    right: -100%;
    width: 360px;
    height: 100vh;
    everflow-y: auto;
    everflow-x: hidden;
    padding: 20px;
    background-color:rgb(0, 89, 255);
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid rgb(0, 26, 255);
    transition: 1.7s;
}

.cart.active{
    right: 0;
    transition: .5s;
}

.cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 2rem;
}

.cart-box{
    display:grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.cart-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail.box{
    display: grid;
    row-gap: .5rem;
}

.cart-prodct.title{
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    border: 1px solid white;
    outline-color: rgb(0, 89, 255);
    width: 2rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove{
    font-size: 24px;
    color: rgba(142, 213, 235, 0.973);
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid black;
}

.total-title{
    font-size: 1rem;
    font-weight: 600;
}

.total-price{
    margin-left: .5rem;
}

.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background-color: black;
    color: aqua;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
}

.btn-buy:hover{
    background-color: aqua;
    color: white;
}

#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

/* Shop Section*/

.shop-container{
    margin-top: 2rem;
}

.section-title{
    font-style: 1.5rem;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1.5rem;
}

.shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap: 2rem;
}

.product-box{
    position: relative;
    transition: .5s ease-in-out;
}

.product-box:hover{
    padding: 10px;
    border: 2px solid black;
}

.product-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-bottom: .5rem;
}

.product-title{
    font-size: 1.5rem;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: .5rem;
}

.product-price{
    font-weight: 500;
    color: black;
    font-size: 1.8rem;
}

.add-cart{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 11px;
    cursor: pointer;
    transition: .5s;
}

.add-cart:hover{
    background-color: aqua;
    color: white;
}

/* Responsive del catalogo de productos de el html principal ecommerce.html*/

@media (max-width:100px){
    .nav{
        padding: 15px;
    }
    .container{
        width: 90%;
        margin: 0 auto;
    }
    .section{
        padding: 3rem 0 rem;
    }

    .shop{
        margin-top: 2rem;
    }
}

/*Para dispositivos medianos*/

@media (max-width:400px){
    .nav{
        padding: 11px;
    }
    .logo{
        font-size: 1rem;
    }
    .cart{
        width:320px
    }
}

/* Para dispositivos pequeños*/

@media (max-width:360px){
    .shop{
        margin-top: 1rem;
    }
    .cart{
        width: 280px;
    }
}

/* Parte de la seccion informacion*/

.logo-info{
    padding: 10px;
    margin:0px 580px;
}

.info{
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.info-img{
    width: 100%;
}

.info-img img{
    width: 300px;
    height: 300px;
}

.info-txt{
    width: 50%;
}
.info-txt-right{
    margin-left: 20px;
}

.info-txt h2{
    font-size: 75px;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    margin-left: 40px;
    margin-bottom: 25px;
}

.info-txt{
    font-size: 18px;
    color: black;
    margin-bottom: 50px;
}
.info-img img{
    width: 400px;
    height: 200px;
    margin-bottom: 25px;
}

.info-txt{
    width: 100%;
    text-align: start;
}

.info-txt p{
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}

.btn-1{
    font-size: 18px;
}

/* Seccion Horario html eccomerce*/

.horario{
    padding: 100px 0;
    background-color: black;
}

.horario-info h2{
    font-size: 75px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.horario-txt{
    display: flex;
    justify-content: space-between;
}

.txt{
    color: white;
}

.txt h4{
    font-size: 18px;
    color: gray;
    margin-bottom: 30px;
}

.txt p{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 15px;
}

.map{
    filter: grayscale(100%) invert(92%) contrast(95%);
}

.footer{
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.links h4{
    color: white;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links ul li a{
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
}

.links ul li a:hover{
    color: rgb(0, 89, 255);
    cursor: pointer;
}

#span-footer{
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase;
}

/* Parte Responsvie para dispositivos moviles ( Header y Footer)*/

@media(max-width:991px){
    .menu{
        padding: 20px;
        justify-content: space-between;
    }

    .menu-2{
        display: none;
    }

    .logo-1{
        width: 100px;
    }

    .logo-2{
        width: 0;
    }

    .menu label{
        display: initial;
    }

    .menu .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: inline;
    }

    .header-content{
        padding: 30px;
        margin-top: 100px;
    }

    .slider{
        text-decoration: none;
    }

    .slider-txt{
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
    }

    .slider-txt h1{
        font-size: 50px;
    }

    .slider-txt p{
        font-size: 16px;
    }

    .btn-1{
        padding: 10px;
        font-size: 14px;
    }

    .slider-img{
        width: 100%;
        text-align: center;
    }

    .slider-img img{
        margin-left: 0px;
        width: 100px;
    }

.swiper-horizontal > .swiper-pagination-bullet,
.swiper-pagination-bullet,.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction{
    bottom:-7px;
    }

    .info{
        padding: 30px;
        flex-direction: column;
    }
    
    .info-img{
        width: 100%;
        text-align: center;
    }
    
    .info-img img{
        width: 400px;
        height: 200px;
        margin-bottom: 25px;
    }
    
    .info-txt{
        width: 100%;
        text-align: center;
    }
    
    .info-txt p{
        font-size: 16px;
    }
    
    .btn-1{
        font-size: 16px;
    }
    
    .horario{
        padding: 30px;
        text-align:inherit;
    }
    
    .horario-info h2{
        font-size: 50px;
        margin-bottom: 15px;
    }
    
    .horario-txt{
        flex-direction: column;
    }
    .socials{
        display: flex;
    }
    
    .social{
        margin: 0 10px;
        padding-block: 8px;
        padding-right: 24px;
        height: 40px;
        width: 40px;
        border: 2px solid rgb(0, 26, 255);
        border-radius: 50%;
    }
    
    .social:hover{
        background-color: rgb(0, 89, 255);
    }
    
    .social img{
        margin: 1px 0 0 10px;
    }
    
    .footer{
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
    
    .links h4{
        margin: 20px 0px 10px 0px;
    }
}


.info-img{
    width: 100%;
    text-align: center;
}



